<div class="createname">
    <h3 class="createname__title">
        Name Create
    </h3>
    <div class="createname__form">
        <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
                <nz-form-control nzErrorTip="Please Input Name">
                    <input nz-input formControlName="name" id="name" type="text" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="idGroup" nzRequired>Group of Name</nz-form-label>
                <nz-form-control nzErrorTip="Please select Group of Name!">
                    <nz-select id="idGroup" formControlName="idGroup"
                        nzPlaceHolder="Select a option and change input text above">
                        <ng-container *ngFor="let group of allGroup">
                            <nz-option nzValue="{{group._id}}" nzLabel="{{group.name}}"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="price">Price</nz-form-label>
                <nz-form-control nzErrorTip="Please Input Price">
                    <input nz-input formControlName="price" id="price" type="number" pattern="[0-9]*" />
                </nz-form-control>
            </nz-form-item>
            <div class="createname__submit">
                <button nz-button nzType="primary" nzSize='large' [nzLoading]="false">Create Name</button>
            </div>
        </form>
    </div>
</div>