<app-breadcrumb [nameBreadcrumb]="'Laundry'"></app-breadcrumb>
<div class="inner-content name">
    <div class="laundry__title">
        <h4>Laundry</h4>
        <button class="laundry__addButton" nz-button nzType="primary" [disabled]="buttonCreateDisable" (click)="createLaundryComponentModel()"><i nz-icon nzType="usergroup-add"></i>Add
            Laundry</button>
    </div>
    <nz-table class="laundry__table" #laundryTable [nzData]="laundryData" [nzPageSizeOptions]="[5,10,25,35,50,100]" [nzShowSizeChanger]="true" [nzBordered]='true' 
        [nzFrontPagination]='false' [nzPageSize]='pageSize' [nzTotal]='total' [nzPageIndex]='pageIndex' 
        [nzLoading]='isLoadingTable'(nzQueryParams)="onChangeQueryParams($event)" [nzScroll]="{ x: '100%', y: '350px' }">
        <thead>
            <tr>
                <th>Id</th>
                <th colspan="2">Name</th>
                <th colspan="2">Group of Name</th>
                <th>Weigth</th>
                <th>Price</th>
                <th colspan="2">Total</th>
                <th colspan="2">Date Create</th>
                <th colspan="2">Creater</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of laundryTable.data;let i = index">
                <td>{{i + 1}}</td>
                <td colspan="2">{{data.name}}</td>
                <td colspan="2">{{data.group}}</td>
                <td>{{data.weight}}</td>
                <td>{{data.price | currency:"VND":"symbol"}}</td>
                <td colspan="2">{{data.total | currency:"VND":"symbol"}}</td>
                <td colspan="2">{{data.createAt | date:"short"}}</td>
                <td colspan="2">{{data.username ? data.username : "No user"}}</td>
                <td colspan="2">
                    <button nz-button nz-popover nzPopoverTrigger="click" nzType="primary" [nzPopoverContent]="contentTemplate"
                        nzPopoverPlacement="right">
                        Actions
                    </button>
                    <ng-template #contentTemplate>
                        <div class="laundry__actionButton">
                            <div>
                                <button nz-button nzType="primary" [nzBlock]="true" (click)="updateLaundryComponentModel(data._id,data.name,data.group,data.price,data.weight,data.total)"><i nz-icon
                                        nzType="edit"></i>Edit</button>
                            </div>
                            <div>
                                <button nz-button nzType="primary" [nzBlock]="true" nzDanger nz-popconfirm (nzOnConfirm)="confirm(data._id)"
                                    nzPopconfirmTitle="Are you sure delete this Group?" nzPopconfirmPlacement="bottom"><i nz-icon
                                        nzType="delete"></i>Delete</button>
                            </div>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>