<app-breadcrumb [nameBreadcrumb]="'Group'"></app-breadcrumb>
<div class="inner-content group">
    <div class="group__title">
        <h4>Group</h4>
        <button class="group__addButton" nz-button nzType="primary"[disabled]="buttoncreateDisable" (click)="createGroupComponentModal()"><i nz-icon
                nzType="usergroup-add"></i>Add
            Group</button>
    </div>
    <nz-table class="group__table" #fixedTable [nzData]="listDataGroupDisplay" [nzScroll]="{ x: '100%', y: '350px' }"
        [nzPageSizeOptions]="[5,10,25,35,50,100]" [nzTotal]="total" [nzPageIndex]="currentPage" [nzPageSize]="limit"
        [nzShowSizeChanger]="true" [nzBordered]='true' [nzLoading]='isLoadingTable' [nzFrontPagination]="false"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th>ID</th>
                <th nzColumnKey="name" [nzSortFn]="true" nzCustomFilter>
                    Name
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                        [nzDropdownMenu]="menu">
                        <i nz-icon nzType="search"></i>
                    </nz-filter-trigger>
                </th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of fixedTable.data,let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.createAt | date:'short' }}</td>
                <td>
                    <button nz-button nz-popover nzPopoverTrigger="click" nzType="primary"
                        [nzPopoverContent]="contentTemplate" nzPopoverPlacement="right">
                        Actions
                    </button>
                    <ng-template #contentTemplate>
                        <div class="group__actionButton">
                            <div>
                                <button nz-button nzType="primary" [nzBlock]="true"
                                    (click)="createUpdateGroupComponentModel(data._id,data.name)"><i nz-icon
                                        nzType="edit"></i>Edit</button>
                            </div>
                            <div>
                                <button nz-button nzType="primary" [nzBlock]="true" nzDanger nz-popconfirm
                                    nzPopconfirmTitle="Are you sure delete this Group?" nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="confirm(data._id)"><i nz-icon nzType="delete"></i>Delete</button>
                            </div>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                    Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
        </div>
    </nz-dropdown-menu>
</div>