<div class="creategroup">
    <h3 class="creategroup__title">Create Group</h3>
    <div class="creategroup__form">
        <form nz-form [formGroup]="validateGroupForm" (ngSubmit)="onSubmit()">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="text">Name of Group</nz-form-label>
                <nz-form-control nzErrorTip="Please Input Name Of Group">
                    <input nz-input formControlName="nameGroup" id="nameGroup" />
                </nz-form-control>
            </nz-form-item>
            <div class="creategroup__submit">
                <button nz-button nzType="primary" nzSize='large' [nzLoading]="false">Create Group</button>
            </div>
        </form>
    </div>
</div>