<div class="createlaundry">
    <h3 class="createlaundry__title">
        Laundry Create
    </h3>
    <div class="createlaundry__form">
        <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'"  (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label nzFor="group" nzRequired>Group of Name</nz-form-label>
                <nz-form-control nzErrorTip="Please select Group of Name!">
                    <nz-select id="group" formControlName="group" nzShowSearch nzAllowClear
                        nzPlaceHolder="Select a group" [(ngModel)]="selectedValueGroup" (ngModelChange) = "changeSelectGroup($event)">
                        <nz-option *ngFor="let group of allGroups" nzValue="{{group.name}}" nzLabel="{{group.name}}"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="name" nzRequired>Name of Name</nz-form-label>
                <nz-form-control nzErrorTip="Please select Name!">
                    <nz-select id="name" formControlName="name" nzShowSearch nzAllowClear nzPlaceHolder="Select a name"
                        [(ngModel)]="selectedValueName" [nzDisabled]="isDisableSelectName" [nzLoading]="isLoading" (ngModelChange) = "changeSelectName($event)">
                        <nz-option *ngFor="let name of arrNames" nzValue="{{name.name}}" nzLabel="{{name.name}}"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzFor="weight">Weight</nz-form-label>
                <nz-form-control nzErrorTip="Please Input Weight">
                    <input nz-input formControlName="weight" id="weight" type="number" (ngModelChange)="changeInputWeight($event)"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzFor="price">Price</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="price" id="price" type="number"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzFor="total">Total</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="total" id="total" type="number" />
                </nz-form-control>
            </nz-form-item>


            <div class="createlaundry__submit">
                <button nz-button nzType="primary" nzSize='large' [nzLoading]="false">Create Laundry</button>
            </div>
        </form>
    </div>
</div>