<app-breadcrumb [nameBreadcrumb]="'Name'"></app-breadcrumb>
<div class="inner-content name">
    <div class="name__title">
        <h4>Name</h4>
        <button class="name__addButton" nz-button nzType="primary" (click)="createComponentModal()"><i nz-icon
                nzType="usergroup-add"></i>Add
            Name</button>
    </div>
    <nz-table class="name__table" #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '100%', y: '350px' }"
        [nzPageSizeOptions]="[5,10,25,35,50,100]" [nzShowSizeChanger]="true" [nzBordered]='true'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Group of Name</th>
                <th>Date Create</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of fixedTable.data;let i = index">
                <td>{{i + 1}}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.name }}</td>
                <td></td>
                <td>
                    <button nz-button nz-popover nzPopoverTrigger="click" nzType="primary"
                        [nzPopoverContent]="contentTemplate" nzPopoverPlacement="right">
                        Actions
                    </button>
                    <ng-template #contentTemplate>
                        <div class="name__actionButton">
                            <div>
                                <button nz-button nzType="primary" [nzBlock]="true"><i nz-icon
                                        nzType="edit"></i>Edit</button>
                            </div>
                            <div>
                                <button nz-button nzType="primary" [nzBlock]="true" nzDanger nz-popconfirm
                                    nzPopconfirmTitle="Are you sure delete this Group?"
                                    nzPopconfirmPlacement="bottom"><i nz-icon nzType="delete"></i>Delete</button>
                            </div>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>